<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clarencezero.mylove.mapper.ImageMapper">
    <select id="getAllImage" resultType="com.clarencezero.mylove.entity.ImageBean" >
        select id,userId,pitchUrl AS src,common from love_image
    </select>
    
    <insert id="insertAImage" parameterType="com.clarencezero.mylove.entity.ImageBean">
        insert love_image(userid,pitchurl,common)
        values(#{userId},#{pitchUrl},#{common})
    </insert>
</mapper>